{% include 'Website/header.html' %}
{% load static %}
    <!-- about -->
    <div class="about">
        <div class="container">
            <h3 class="w3l_header w3_agileits_header two">About <span>Us</span></h3>
            <div class="ab-agile">
                <div class="col-md-6 aboutleft">
                    <h3>Welcome to Industry</h3>
                    <p class="para1">Our company adheres to the management concept of seeking survival by quality and
                        developing by credit that builds value for shareholders through our employees. It creates a
                        culture
                        of health, safety and environmental stewardship in an atmosphere of optimism, teamwork,
                        creativity
                        and resourcefulness and by dealing with everyone in an open and ethical manner.
                        We manufacture your
                        need. Your satisfaction has made us relentless to produce quality
                        goods. Our company offers: </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Optimum production and delivery. </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Latest brand machinery. </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Good teamwork of trained, skilled and efficient
                        human
                        resources. </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Quick sampling and complying orders. </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Export worthy packing. </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Customization. </p>
                </div>
                <div class="col-md-6 aboutright">
                    <img src="{% static 'website_images/abouttop.jpg' %}" alt=""/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //about -->

    <!-- services -->
    <div class="services-1 jarallax">
        <div class="container">
            <div class="row">
                <div class="col-md-6 servicegrid1">
                    <h3>ATRAI POLYFLEX LTD </h3>
                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    <p> Established in 1985, it's located near the historical site of Lalbagh Fort in Dhaka. </p>
                </div>
                <div class="col-md-6 servicegrid1">
                    <h3>CYNOSURE BD.</h3>
                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    <p> This company is located in the heart of Dhaka city- Tejgaon Industrial Area. </p>
                </div>
                <div class="col-md-6 servicegrid1">
                    <h3>ATRAI LABEL & ACCESSORIES</h3>
                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    <p> This company was established in 2005 and is situated at Tejgaon I/A. </p>
                </div>
                <div class="col-md-6 servicegrid1">
                    <h3>ATRAI LABEL PRINTING & PACKAGING INDUSTRY</h3>
                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    <p> Currently this company is situated in Tejgoan Industrial Area. </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //services -->

    <!-- team -->
    <div class="team">
        <div class="container">
            <h3 class="w3l_header w3_agileits_header two">Company <span>Heads</span></h3>
            <div class="teamgrids">
                <div class="col-md-3 teamgrid1">
                    <img src="{% static 'website_images/people/t1.jpg' %}" alt="golam"/>
                    <div class="teaminfo">
                        <h3>MD. Golam Nabi</h3>
                        <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Chairman</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> +880 17 1152 4632</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:golam.nabi@atrai.group"
                                                                               style="font-size: 0.7em;">
                                golam.nabi@atrai.group</a></p>
                    </div>
                </div>
                <div class="col-md-3 teamgrid1">
                    <img src="{% static 'website_images/people/tawsik.JPG' %}" alt="tawsik"/>
                    <div class="teaminfo">
                        <h3>Tawsik Un Nabi
                        </h3>
                        <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Director</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> +880 17 9347 1147</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:tawsik.nabi@atrai.group"
                                                                               style="font-size: 0.7em;">
                                tawsik.nabi@atrai.group</a></p>
                    </div>
                </div>
                <div class="col-md-3 teamgrid1">
                    <img src="{% static 'website_images/people/mizu.jpg' %}" alt="mizu"/>
                    <div class="teaminfo">
                        <h3>Ruhul Amin Mizu
                        </h3>
                        <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Managing Director</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> +880 17 1301 8818</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:ruhul.amin@atrai.group"
                                                                               style="font-size: 0.7em;">
                                ruhul.amin@atrai.group</a></p>
                    </div>
                </div>
                <div class="col-md-3 teamgrid1">
                    <img src="{% static 'website_images/people/t4.JPG' %}" alt="ashraf"/>
                    <div class="teaminfo">
                        <h3>MD. Ashraf Uddeen
                        </h3>
                        <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>General Manager</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> ‭+880 17 0852 9980</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:ashraf.udeen@atrai.group"
                                                                               style="font-size: 0.7em;">
                                ashraf.udeen@atrai.group</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //team -->
{% include 'Website/footer.html' %}