{% include 'Website/header.html' %}
{% load static %}
    <!-- map -->
    <div class="map">
        <div class="container">
            <h3 class="w3l_header w3_agileits_header two">Contact <span>Us</span></h3>
            <div class="map-agile">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.56413027102!2d90.4050938149816!3d23.7629177845832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3425a7e780c00e3!2sAtrai+Group!5e0!3m2!1sen!2suk!4v1517562573573"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- //map -->
    <!-- call -->
    <div class="number">
        <div class="container">
            <div class="col-md-12 callright">
                <h4 class="w3l-contact">Connect With Us</h4>
                <p class="contact-agile1"><strong>Phone :</strong> +8801793471147</p>
                <p class="contact-agile1"><strong>Email :</strong> <a
                            href="mailto:info@atrai.group">info@atrai.group</a></p>
                <p class="contact-agile1"><strong>Address :</strong>  417/418, Tejgaon Industrial Area, Dhaka-1208, Bangladesh</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //call -->
{% include 'Website/footer.html' %}