{% include 'Website/header.html' %}
{% load static %}

    <!-- about -->
    <div class="about">
        <div class="container">
            <h3 class="w3l_header w3_agileits_header two">Our <span>Machineries</span></h3>
            <div class="ab-agile">
                <div class="col-md-12 aboutleft">
                    <h3>Atrai Labels and Accessories </h3>
                    <p class="para1"><u>Types of machineries:</u></p>
                    <p class="para11">Main Taffeta Broadloom,</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i>
                        Laibao R880: Itema loom originally from Italy with highly configured GT512L Jacquard.
                        <br>Number of Machines: 3 Sets
                    </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Panter E58: Panter loom from Italy combined with
                        the latest ZJ Bonas Jacquard.
                        <br>Number of Machines: 1 Set
                    </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> R9500SX: Itema loom originally from Italy &
                        equipped with the latest Stäubli SX Jacquard from France.
                        <br>Number of Machines: 3 Sets
                    </p>
                    <br>
                    <p class="para11">Cutting Machineries,</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i>
                        LuWei CS-880: Multifunctional Ultrasonic Slitting Machine based on Switzerland standard to
                        ensure the quality of the smooth cutting edges.
                        <br> Number of Machines: 1
                    </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i>LuWei CS-800: Multifunctional Label Cutting-Folding
                        machine, also based on Switzerland standard to give you the best streamlined cutting ends on
                        your desired pattern.
                        <br>Number of Machines: 3
                        <br>
                        Total Number of Machines: 11 Sets
                        <br>
                        Production Capacity per day: 3,50,000 Pieces depending on individual products and quality.
                    </p>
                    <p class="para11">About the quality assurance (QA)/quality check (QC)</p>
                    <p> we have set up a trained team to maintain a strict discipline on quality. We don’t leave a
                        single piece to be handed without passing through its quality assurance check. </p>
                </div>
                <div class="col-md-12 aboutright">
                    <img src="{% static 'website_images/machineries/machineries1.jpg' %}" alt=""/>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="ab-agile">
                <div class="col-md-12 aboutleft">
                    <h3><u>Atrai Poly Flax Ltd.</u></h3>
                    <p class="para1"><u>Types of Machineries:</u></p>
                    <p class="para11">Blow Filming Machine,</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Polypropylene/PP Blown Filming Machine: Originated
                        and imported directly from Taiwan, serves with the best quality crystal clear finishing leaving
                        any types of criss.
                        <br>Number of Machines: 3 sets
                    </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Low Density Polythene/LLDPE Blown Filming Machine:
                        Born in the same family from Taiwan that serves the top notch quality of product of its type.
                        <br> Number of machines: 3 sets
                    </p>
                    <br>
                    <p class="para11">Printing section,</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Hyplas 6 color flexographic printing machine: This
                        6 color flexographic printing machine came from the Taiwan’s top brand named, Hyplas. That
                        delivers the top printing experience which can even survive any heat/pressure and doesn’t fade
                        in any obstacle or weather condition.
                        <br>
                        And,
                        Hyplas 4 color flexographic printing machine.
                        <br>
                        Number of machines: 2 sets
                    </p>
                    <br>
                    <p class="para11">Bottom Sealing Machine,</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Hyplas Photoelectric control bag making machine:
                        For sealing and cutting the LDPE/PP both of a kind, this also belongs to the family of Hyplas
                        that finishes of by giving the final touch to a finished polybag with clean and smooth cutting
                        edges.
                        <br>
                        Number of machines: 2 Sets
                    </p>
                    <br>
                    <p class="para11">Side Sealing Machine,</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Hyplas Photoelectric Multifunctional Bag making
                        Machine: From the same family, Hyplas. That delivers up to 300 strokes/minute suitable for
                        PP/LDPE. There are various attachment available like handle punch, pre-sealer, bottom gusset
                        inside/outside lip former and finishes off with clean and smooth cutting edges.
                        <br>
                        Number of machines: 2
                    </p>
                    <p class="para11">P.S: Every poly item is 100% garments export oriented and also with the
                        certificate food grade quality.</p>
                    <p class="para11">The production Capacity per day is about 1,50,000 pcs.</p>
                    <p class="para11">Total machineries of full set: 12</p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="ab-agile">
                <div class="col-md-12 aboutleft">
                    <h3><u>Cynosure BD</u></h3>
                    <p class="para1">Types of machineries:</p>
                    <p class="para11">Main Taffeta Broadloom,</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Panter E58S: Panter loom from Italy combined with
                        the Stäubli SX Jacquard from France.
                        <br> Number of Machines: 2 Set
                    </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> R9500SX: Itema loom originally from Italy &
                        equipped with the latest Stäubli SX Jacquard from France.
                        <br> Number of Machines: 3 Sets
                    </p>
                    <p class="para11">Satin Broadloom,</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> R9500SX Satin: Itema loom originally from Italy &
                        equipped with the latest Stäubli SX Double Jacquard from France.
                        <br> Number of Machines: 2 Sets
                    </p>
                    <p class="para11">Cutting Machineries,</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> LuWei CS-880: Multifunctional Ultrasonic Slitting
                        Machine based on Switzerland standard to ensure the quality of the smooth cutting edges.
                        <br> Number of Machines: 1 set
                    </p>
                    <p class="para11">About the quality assurance (QA)/quality check (QC)</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> we have set up a trained team to maintain a strict
                        discipline on quality. We don’t leave a single piece to be handed without passing through its
                        quality assurance check.
                    </p>
                    <p class="para11">Total Number of Machines: 13</p>
                    <p class="para11">Production capacity per day: 3,50,000 Pieces depending on individual products and
                        quality.</p>
                </div>
                <div class="col-md-12 aboutright">
                    <img src="{% static 'website_images/machineries/machineries3.jpg' %}" alt=""/>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="ab-agile">
                <div class="col-md-8 aboutleft">
                    <h3><u>Atrai Printing & Packaging</u></h3>
                    <p class="para11"><i class="fa fa-check" aria-hidden="true"></i>Printed Label</p>
                    <p>We are taking the printed label concept to a whole new level. By offering a full suite of
                        polyester and cotton label tapes in a variety of weaving textures. We print on a wide array of
                        fibers ranging from synthetic such as Polyester (Satins, taffetas and acetates) Nylons, and Poly
                        cotton blends to natural fibers such as cotton and organic cotton.</p>
                    <p class="para11"><i class="fa fa-check" aria-hidden="true"></i>Hangtag & Paper/Card </p>
                    <p>From Hangtags and Price tickets to a wide variety of paper specialties we ensure a consistent
                        appearance for all your printed brand identity materials. Our brand specialty finishes include:
                        Die-cutting, Embossing, Foil Stamping, Varnishing, Stringing, Eye-letting, secure a tach and
                        folding.</p>
                    <p class="para11"><i class="fa fa-check" aria-hidden="true"></i>Printed Label Sector:</p>
                    <p>
                        Types of machines:<br><br>

                        Gold Fai, GF-1071DI.<br>
                        8 Color Digital Printing Rotary Machine.<br>
                        Number of machines: 1 set<br><br>

                        Gold Fai, GF-1041DI.<br>
                        5 Color Digital Printing Rotary Machine.<br>
                        Number of machines: 1 set<br><br>

                        HY-4B<br>
                        4 Color Digital Rotary Printing Machine.<br>
                        Number of machines: 2 sets<br><br>

                        Gold Fai, GF-3120<br>
                        2 Color Screen Printing Machine.<br>
                        Number of machines: 1 set<br><br>

                        HY-116<br>
                        1 Color Screen Printing Machine.<br>
                        Number of machines: 1 set
                    </p>
                    <p class="para11"><i class="fa fa-check" aria-hidden="true"></i>Label Cutting Sector:</p>
                    <p>
                        Gold Fai, GF-2080B<br>
                        Super Ultrasonic Label Cutting Machine.<br>
                        Number of machines: 1 set<br><br>

                        Gold Fai, GF-2030SD<br>
                        High Speed Label Heat Cutting Machine.<br>
                        Number of machines: 2 sets

                        HY-2080
                        Automatic Ultrasonic Label Cutting Machine.
                        Number of machines: 1 set
                    </p>
                    <p class="para11"><i class="fa fa-check" aria-hidden="true"></i>Plate Making Sector</p>
                    <p>
                        GT-FA3R<br>
                        Flexo Photopolymer Platemaker.<br>
                        Number of machines: 1 set<br>
                        <br>
                        HY-SBR400W
                        <br>
                        Flexo Plate Making Machine.
                        <br>
                        Number of Machines: 2 sets
                    </p>
                    <p class="para11"><i class="fa fa-check" aria-hidden="true"></i>Hangtag/ Offset Machineries</p>
                    <p>Heidelberg Full Demai 2 color offset printing machine: Starting from the hangtags, price tickets
                        to stickers including any kind of desired pattern or modification we get our work done with full
                        care.
                        <br> Number of Machines: 2 sets
                    </p>
                    <p class="para11"><i class="fa fa-check" aria-hidden="true"></i>Paper Cutting Sector</p>
                    <p>Fully Automated Shenda SQZ-115CTN
                        The first time in Bangladesh we came up with the finest, top notch fully computerized hydraulic
                        cutting machine to give you the best cutting experience.
                        <br>Number of machines: 1 set
                    </p>
                    <p class="para11"><i class="fa fa-check" aria-hidden="true"></i>Laminating/Varnishing Sector</p>
                    <p>Equipped with the high performance LS-200N dual sided laminating machine, that delivers one of a
                        high quality finish among the varnishing family leaving the smoothest texture of the finish.
                        <br> Number of machine: 1 set
                    </p>
                    <p class="para11"><i class="fa fa-check" aria-hidden="true"></i>About the quality assurance
                        (QA)/quality check (QC)</p>
                    <p>we have set up a trained team to maintain a strict discipline on quality. We don’t leave a single
                        piece to be handed without passing through its quality assurance check.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!--    <div class="ab-agile">-->
    <!--        <div class="col-md-12 aboutright">-->
    <!--            <img src="images/v3.jpg" alt=""/>-->
    <!--        </div>-->
    <!--        <div class="col-md-12 aboutleft">-->
    <!--            <h3>Welcome to Industry</h3>-->
    <!--            <p class="para1">Our company adheres to the management concept of seeking survival by quality and-->
    <!--                developing by credit that builds value for shareholders through our employees. It creates a culture-->
    <!--                of health, safety and environmental stewardship in an atmosphere of optimism, teamwork, creativity-->
    <!--                and resourcefulness and by dealing with everyone in an open and ethical manner.-->
    <!--                We manufacture your-->
    <!--                need. Your satisfaction has made us relentless to produce quality-->
    <!--                goods. Our company offers: </p>-->
    <!--            <p><i class="fa fa-check" aria-hidden="true"></i> Optimum production and delivery. </p>-->
    <!--            <p><i class="fa fa-check" aria-hidden="true"></i> Latest brand machinery. </p>-->
    <!--            <p><i class="fa fa-check" aria-hidden="true"></i> Good teamwork of trained, skilled and efficient human-->
    <!--                resources. </p>-->
    <!--            <p><i class="fa fa-check" aria-hidden="true"></i> Quick sampling and complying orders. </p>-->
    <!--            <p><i class="fa fa-check" aria-hidden="true"></i> Export worthy packing. </p>-->
    <!--            <p><i class="fa fa-check" aria-hidden="true"></i> Customization. </p>-->
    <!--        </div>-->
    <!--        <div class="clearfix"></div>-->
    <!--    </div>-->
{% include 'Website/footer.html' %}