{% include 'Website/header.html' %}
{% load static %}

    <!-- gallery -->
    <div class="gallery agile" id="gallery">
        <div class="container">
            <h3 class="w3l_header w3_agileits_header two">Glimpses of <span>Atrai Group</span></h3>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g1.JPG' %}" title="Indoor view of Cynosure BD" />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g2.JPG' %}" title="Multifunctional Ultrasonic Slitting Machine" />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g3.JPG' %}" title="QC Department " />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g4.JPG' %}" title="Splitter of the Ultrasonic Slitting Machine" />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g5.JPG' %}" title="Mid/Side fold heat cutting sector" />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g6.JPG' %}" title="View of the Atrai Labels & Accessories " />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g7.JPG' %}" title="View of the Atrai Labels & Accessories " />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g8.JPG' %}" title="The Panter E58S-SX" />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g9.JPG' %}" title="The R9500SX " />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g10.JPG' %}" title="Rear view of the R9500SX " />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g11.JPG' %}" title="The Panter E58S-SX" />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g12.JPG' %}" title="The loaded stock yarn " />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g13.JPG' %}" title="Finely weaved now proceeding for the cut" />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g14.JPG' %}" title="Finely weaved now proceeding for the cut" />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g15.JPG' %}" title="The other yarn stock of Atrai Labels & Accessories" />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g16.JPG' %}" title="High powered generator for 24/7 power supply " />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g17.JPG' %}" title="A little view of the cutting machine" />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g18.JPG' %}" title="The Stäubli SX, the master among the jacquard industry." />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g19.JPG' %}" title="QC Department " />
                </div>
                <div class="col-md-3">
                    <img class="fancybox" src="{% static 'website_images/gallery/g20.JPG' %}" title="Another view of the Ultrasonic Slitting Machine " />
                </div>
            </div>
        </div>
    </div>
    <!-- //gallery -->
{% include 'Website/footer.html' %}